@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

header {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #fff;
  border-bottom:1px solid rgba(0,0,0,0.3);


  h1 {
    text-align: center;
  }
}

main {
  position: absolute;
  top:100px;
  //overflow: auto;
  bottom:50px;
  //background-color: #c65c0e;
  width: 100%;


  video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
  }
}

footer {
  background-color: #fff;
  border-top: 2px solid rgba(0,0,0,0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding:1em;

  h4 {
    margin: 0;
  }

}


///* Variables */
//$padding: 1em;
//
//html {
//  min-height: 100%;
//  position: relative;
//}
//
//body {
//  margin-bottom:100px;
//}
//
//header {
//  text-align: center;
//  background-color: #fff;
//  padding: $padding 0;
//  border-bottom: 3px solid rgba(0,0,0,0.3);
//
//
//  //position: absolute;
//  //top: 0;
//  //width: 100%;
//  //height: 100px;
//}
//
//main {
//
//  a {
//    &.movebutton {
//      display: block;
//      color: white;
//      background-color: rgba(0,0,0,0.3);
//      font-size: 3em;
//
//      &:hover {
//        text-decoration: none;
//      }
//    }
//
//  }
//
  //video {
  //  position: fixed;
  //  top: 50%;
  //  left: 50%;
  //  min-width:100%;
  //  min-height:100%;
  //  width: auto;
  //  height: auto;
  //  z-index: -100;
  //  transform: translateX(-50%) translateY(-50%);
  //  background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  //  background-size: cover;
  //  transition: 1s opacity;
  //}
//
//}
//
//footer {
//  background-color: red;
//  //bottom:0;
//  //position: absolute;
//  //width: 100%;
//  //height: 100px;
//}
