@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

/* Variables */
$phone-breakpoint: 360px;
$tablet-breakpoint: 768px;
$blue: #0000ff;

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

header {
  height: 4.5vmax;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #fff;
  //border-bottom:1px solid rgba(0,0,0,0.3);
  //box-shadow: 0 3px 3px rgba(0,0,0,0.2);

  h1 {
    text-align: center;
    margin: 0;
    padding: 2vh;
    font-size: 2.5vw;
    font-weight:700;
    color: $blue;
  }
}

main {
  position: absolute;
  //top:9vw;
  overflow: auto;
  width: 100%;
  //padding-bottom: 30vw;

  &.container-fluid {
  margin: 0;
  padding: 0;

  #intro {

  button {
    display: none;
  }

  a {
    &.pulsante {
      background: #fff;
      color: #000;
      text-transform: uppercase;
      text-align: center;
      font-size: 2vw;
      font-weight: 700;
      padding: 1vw 3vw;

    }

    &#movebutton {
      position: fixed;
      top: 50%;
      left: 50%;
      width:30vw;
      z-index:1000;
      border: 1vmin solid #000;

      margin-top:20vh;
      margin-left:-15vw;
      //transition: all 0.2s ease-in-out;

      &:hover {
        text-decoration: none;
        //transform: scale(1.1);
      }
    }
  }

  video {
    &#background {
      position: relative;
      top: 0;
      left: 10vw;
      //margin-left:-40vw;
      //min-width: 100vw;
      min-height: 100vh;
      width: auto;
      height: auto;
      z-index: -100;
      //background-size: cover;
      overflow: hidden;
    }

    &#camera {
      position: absolute;
      right:3vw;
      top: 3vw;
      //width:15vw;
      height:35%;
      //background-color: red;
    }
  }
}
  }


  a {

  }

  #grid {
    //background-color: rgba(255,255,255,0.3);

    // BOH! Compare un'altra scrollbar!
    //padding-bottom: 10vh;

    .row:last-child{
      margin-bottom: 6vw;
    }

    img {
      width: 100%;
    }

    .rotate180 {
      transform: rotate(180deg);
    }

    .rotate90 {
      transform: rotate(90deg);
    }

    .rotate-270 {
      transform: rotate(270deg);
    }
  }
}

footer {
  background-color: #fff;
  //border-top: 2px solid rgba(0,0,0,0.3);
  //box-shadow: 0 -3px 3px rgba(0,0,0,0.2);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4.5vmax;
  padding:1em;


  h4 {
    margin: 0;
    font-size: 2.3vw;
    color: $blue;
  }

}

/* Media queries */
@media (max-device-width: $phone-breakpoint) {
  header {
    height: 18vw;

    h1 {
      font-size: 4vh;
    }

  }

  main {
    #intro {
      video {
        &#background {
          width: 100vw;
          height: 50vh;
        }
      }

      a {
        &.pulsante {
          font-size: 4vw;
          padding: 3vw 3vw;
        }
        &#movebutton {
          width: 60vw;
          margin-left: -30vw;
        }
      }
    }
  }


    #grid {
      img {
        width:100%;
        margin-bottom:1.5vh;
      }
    }
  }

  footer {
    height: 8vmax;

    h4 {
      font-size: 4vw;
    }
  }
}
