/*
Error: Invalid CSS after "...    height:57vh": expected "{", was ";"
        on line 151 of stile.scss

146:       &#camera {
147:         position: absolute;
148:         right:3vw;
149:         top: 1vw;
150: <<<<<<< HEAD
151:         height:57vh;
152:         width: 30vw;
153: =======
154:         height: 50vh;
155: >>>>>>> origin/master
156:         z-index: 1001 ;

Backtrace:
stile.scss:151
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1179:in `expected'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1115:in `expected'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1110:in `tok!'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:654:in `block'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:724:in `declaration_or_ruleset'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:674:in `block_child'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:666:in `block_contents'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:655:in `block'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:724:in `declaration_or_ruleset'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:674:in `block_child'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:666:in `block_contents'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:655:in `block'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:724:in `declaration_or_ruleset'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:674:in `block_child'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:666:in `block_contents'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:655:in `block'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:724:in `declaration_or_ruleset'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:674:in `block_child'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:666:in `block_contents'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:655:in `block'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:647:in `ruleset'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:673:in `block_child'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:666:in `block_contents'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:123:in `stylesheet'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:39:in `parse'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/engine.rb:403:in `_to_tree'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/plugin.rb:82:in `update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:363:in `watch_or_update'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:51:in `process_result'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/2.1.0/gems/sass-3.4.21/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/2.1.0/gems/sass-3.4.21/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:23:in `load'
/usr/local/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...    height:57vh\": expected \"{\", was \";\"\A         on line 151 of stile.scss\A \A 146:       &#camera {\A 147:         position: absolute;\A 148:         right:3vw;\A 149:         top: 1vw;\A 150: <<<<<<< HEAD\A 151:         height:57vh;\A 152:         width: 30vw;\A 153: =======\A 154:         height: 50vh;\A 155: >>>>>>> origin/master\A 156:         z-index: 1001 ;"; }
