@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

/* Variables */
$phone-breakpoint: 360px;
$tablet-breakpoint: 768px;

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

header {
  height: 9vmax;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #fff;
  //border-bottom:1px solid rgba(0,0,0,0.3);
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);

  h1 {
    text-align: center;
    font-size: 5vw;
  }
}

main {
  position: absolute;
  top:80px;
  overflow: auto;
  bottom:50px;
  //background-color: #c65c0e;
  width: 100%;

  &.container-fluid {
    margin: 0;
    padding: 0;
  }

  #intro {
    button {
      display: none;
    }

    a#movebutton {
      position: fixed;
      top: 50%;
      left: 50%;
      width:20vw;
      z-index:1000;
      border: 1vmin solid #000;

      background: #fff;
      color: #000;
      text-transform: uppercase;
      text-align: center;
      font-size: 2vw;
      font-weight: 700;
      padding: 3vw 2vw;
      margin-left:-10vw;

      &:hover {
        text-decoration: none;
      }
    }
  }

  #grid {
    //background-color: rgba(255,255,255,0.3);

    // BOH! Compare un'altra scrollbar!
    //padding-bottom: 10vh;

    img {
      width: 100%;
    }
  }

  video {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
  }
}

footer {
  background-color: #fff;
  //border-top: 2px solid rgba(0,0,0,0.3);
  box-shadow: 0 -3px 3px rgba(0,0,0,0.2);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6vmax;
  padding:1em;


  h4 {
    margin: 0;
    font-size: 3.3vw;
  }

}

/* Media queries */
@media (max-device-width: $phone-breakpoint) {
  header {
    h1 {
      font-size: 4vh;
    }

  }

  main {
    #grid {
      img {
        width:100%;
        margin-bottom:1.5vh;
      }
    }
  }
}
